---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Subscribe from "../components/Subscribe.astro";
import "../styles/global.css";

const { pageTitle, pageDescription, canonicalURL } = Astro.props;
const isHomePage = pageTitle === "LandmarkIRL";
const heroImage = isHomePage ? "/landmarkuni.jpg" : "/senate.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO Meta Tags -->
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content={heroImage} />
    <meta property="og:url" content={canonicalURL} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@thedavidumoru" />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={pageDescription} />
    <meta name="twitter:image" content={heroImage} />
    <link rel="canonical" href={canonicalURL} />
  </head>
  <body>
    <Header />
    <Hero image={heroImage} isHomePage={isHomePage} />
    <main class="content-container">
      <slot />
      <Subscribe />
    </main>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
