---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1 class="title">{frontmatter.title}</h1>
  <p id="subtitle">{frontmatter.description}</p>
  <div class="meta">
    <span class="tags">
      {
        frontmatter.tags.map((tag, index) => (
          <span>
            <a href={`/tags/${tag}`} class="tag">
              {tag}
            </a>
            {index < frontmatter.tags.length - 1 && ", "}
          </span>
        ))
      }
    </span>
    <span> -- </span>
    <span class="date"
      >{
        new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }</span
    >
  </div>
  <div class="content">
    <slot />
  </div>
</BaseLayout>
<style>
  .meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
  }
  #subtitle {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    color: #3a4145;
  }
  .content {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-weight: 300;
    font-style: normal;
    font-size: 1.15rem;
    letter-spacing: 0.01rem;
    color: #3a4145;
  }
  .title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  .meta {
    font-size: 1.05rem;
    color: #999;
    margin-top: 1rem;
  }
  .tags {
    font-style: italic;
  }
  .tags .tag {
    color: #78df78;
    text-decoration: none;
  }
  .tags .tag:hover {
    text-decoration: underline;
  }
  .date {
    font-weight: 500;
  }

  /* Media Queries for scaling text down */
  @media (max-width: 1200px) {
    #subtitle {
      font-size: 0.9rem;
    }
    .content {
      font-size: 1.1rem;
    }
    .title {
      font-size: 2rem;
    }
  }

  @media (max-width: 768px) {
    #subtitle {
      font-size: 0.9rem;
    }
    .content {
      font-size: 1.05rem;
    }
    .title {
      font-size: 1.9rem;
    }
  }

  @media (max-width: 480px) {
    #subtitle {
      font-size: 0.9rem;
    }
    .content {
      font-size: 1rem;
    }
    .title {
      font-size: 1.6rem;
    }
  }
</style>
