---
import type { RoughAnnotationType } from "rough-notation/lib/model";
import PageHeader from "../components/PageHeader.astro";
import { smartquotes } from "../helpers/helpers";
import BaseLayout from "./BaseLayout.astro";
import type { MarkdownHeading } from "astro";
import TableOfContents from "../components/TableOfContents.astro";

interface Props {
  title: string;
  date?: Date;
  description?: string;
  ogImage?: string;
  ogAlt?: string;
  annotation?: RoughAnnotationType;
  headings?: MarkdownHeading[];
}

const {
  title,
  date,
  description,
  ogImage,
  ogAlt,
  annotation,
  headings,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description && smartquotes(description)}
  ogImage={ogImage}
  ogAlt={ogAlt}
>
  <article
    class="article-grid"
    itemscope
    itemtype="https://schema.org/BlogPosting"
  >
    <PageHeader
      title={title}
      date={date}
      description={description && smartquotes(description)}
      annotation={annotation}
    />
    <slot name="after-header" />
    <TableOfContents headings={headings} />
    <section itemprop="articleBody" class="prose">
      <slot />
    </section>
    <slot name="after-content" />
  </article>
</BaseLayout>

<style lang="scss" is:global>
  article {
    max-width: 1200px;
  }

  .article-grid {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    column-gap: var(--space-m);
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "toc"
      "prose"
      "bios";

    @media (width >= 900px) {
      grid-template-columns: 720px 1fr;
      column-gap: var(--space-2xl);
      grid-template-areas:
        "head ."
        "prose toc"
        "bios .";
    }

    .bios {
      grid-area: bios;
    }

    .prose:not(.not-content) {
      grid-area: prose;
    }

    .toc {
      grid-area: toc;

      @media (width >= 900px) {
        position: sticky;
        top: 0;
        align-self: start;
        max-height: 100vh;
        overflow-y: auto;
        padding-left: var(--space-xl);
        margin-top: calc(-1 * var(--toc-offset, 0px));
      }
    }

    .page-head {
      grid-area: head;

      @media (width >= 900px) {
        --header-height: auto;
      }
    }
  }

  .prose:not(.not-content) {
    max-width: 720px;
    grid-area: prose;

    [id] {
      scroll-margin-top: 1ex;
    }

    h2,
    h3 {
      margin-block: var(--space-2xl) var(--space-m);
      text-wrap: balance;
    }

    *:first-child {
      margin-block-start: 0;
    }

    p,
    ul,
    ol,
    img {
      margin-bottom: var(--space-m);
    }

    img,
    ul,
    ol {
      margin-block: var(--space-xl);
    }

    ul,
    ol {
      padding-inline-start: var(--space-xl);

      li {
        padding-inline-start: var(--space-s);
      }
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol {
      margin-block: 0;
    }

    img:not(.no-filter) {
      filter: grayscale(100%) contrast(120%) brightness(130%);
      opacity: 0.9;
      mix-blend-mode: multiply;
      border-radius: var(--radius-xs);
    }
  }
</style>
